<div>
    <div style="text-align: center; margin-bottom: 20px; ">
        <button data-toggle="modal" data-target="#generated_individual_class_modal" onclick="displaySpecificClass('{{ class_number }}')" class="btn btn-primary" type="button">Display as List</button>
    </div>
    {% for i in range(num_rows) %}
        <div class="row">

            <!-- If we are in the last row -->
            {% if i == num_rows - 1 %}
                {% for j in range(remainder) %}
                <div class="col-3 hvr-float" style="cursor: pointer; " onclick="getSpecificClass('{{ all_classes[(i * 4) + j]['class_number'] }}', '{{ all_classes[(i * 4) + j]['class_section'] }}')" data-toggle="modal" data-target="#individual_class_modal">
                        <div class="card text-white bg-secondary mb-3">
                            {% if all_classes[(i * 4) + j]["percentage_filled"] >= 1 %}
                                <div style="background-color: red !important" class="card-header">FULL</div>
                            {% else %}
                                <div class="card-header"></div>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="text-center">{{ all_classes[(i * 4) + j]["department"] }} {{ all_classes[(i * 4) + j]["class_number"] }}.{{ all_classes[(i * 4) + j]["class_section"] }}</h5>
                                <p class="text-center">{{ all_classes[(i * 4) + j]["professor"] }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            
            <!-- If we are NOT in the last row -->
            {% else %}
                {% for j in range(4) %}
                <div class="col-3 hvr-float" style="cursor: pointer; " onclick="getSpecificClass('{{ all_classes[(i * 4) + j]['class_number'] }}', '{{ all_classes[(i * 4) + j]['class_section'] }}')" data-toggle="modal" data-target="#individual_class_modal">
                        <div class="card text-white bg-secondary mb-3">
                            {% if all_classes[(i * 4) + j]["percentage_filled"] >= 1 %}
                                <div style="background-color: red !important" class="card-header">FULL</div>
                            {% else %}
                                <div class="card-header"></div>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="text-center">{{ all_classes[(i * 4) + j]["department"] }} {{ all_classes[(i * 4) + j]["class_number"] }}.{{ all_classes[(i * 4) + j]["class_section"] }}</h5>
                                <p class="text-center">{{ all_classes[(i * 4) + j]["professor"] }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

        </div>
    {% endfor %}
</div>